/* GLOBAL */
*{
    box-sizing: border-box;
}
body{
    background: #f1f1f1;
    
}

/* MAIN CSS */
.vglasses__left{
    background-color: white;
    padding: 20px 40px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}
.vglasses__left .col-4{
    align-self: center;
}
.vglasses__items{
    cursor: pointer;
}

.vglasses__right{
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.vglasses__model{
    background-image: url('../img/model.jpg');
    background-position: center top;
    background-size: cover;
    height: 600px;
}

.vglasses__model img{
    position: absolute;
    max-width: 250px;
    top: 31%;
    left:24%;
    opacity: 0.9;
  
}
.img-glasses{
    width: 50%;
    height: 85px;

}
.vglasses__card{
    position: relative;
    overflow: hidden;
    background-color: white;
}

.vglasses__info{
    position: absolute;
    bottom:0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    width:100% ;
    height:200px;
    color: white;
    padding: 20px;
    display: none;
}

#glasses{
    transition: all 0.5s;
}
.itemGlasses:hover{
    cursor: pointer;
    background-color: red;
}
.itemGlasses img{
    width: 150px;
    height: 100px;
    margin: 10px;
}
.priceGlasses{
    padding:4px;
    margin-right: 5px;
    background-color:red;
    color:white;
    border-radius:5px;
}
.text {
    color:green;
}
#vglassesList img{
    cursor: pointer;
}

